/*
  create by zhxy
  公共样式
*/
/*基础样式*/
blockquote,
body,
code,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
input,
legend,
li,
menu,
ol,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0 !important;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
}
li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
q:after,
q:before {
  content: '';
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
input[type="button"],
input[type="submit"],
input[type="reset"] {
  border-radius: 0;
  -webkit-appearance: none;
}
textarea {
  -webkit-appearance: none;
}
button,
input,
select {
  outline: medium none;
  vertical-align: middle;
}
legend {
  color: #000;
}
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body,
html {
  width: 100%;
  height: 100%;
  font-family: "Microsoft YaHei", Helvetica;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a,
a:hover,
a:link,
a:visited {
  text-decoration: none;
}
i {
  font-style: normal;
}

/*顶部导航*/
header{
  height: .45rem;
}
.top{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
   height: .45rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #fff;
  border-bottom:1px solid #f6f6f6;
  padding: 0 .12rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 99;
}
header h1 {
  width: 70%;
  font-weight: normal;
  text-align: center;
  font-size: .16rem;
  color: #333;
}
header a {
  width: 15%;
  color: #333;
  font-size: .18rem;
}
header .top> a:first-child {
  text-align: left;
}
header .top> a:last-child {
  text-align: right;
}
.mainPadding,
.paddingt5{
  padding-top: .5rem;
}
.border10 {
  height: .1rem;
  border: 1px solid #ebecee;
  background-color: #f7f7f9;
}
.icon-arrow-right {
  display: inline-block;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.color999 {
  color: #999;
}
/* 按钮的样式 */
.main .btn {
  height: .32rem;
  width: 1.9rem;
  margin-top: .25rem;
  -weblit-border-radius:.2rem;
  border-radius: .2rem;
  background-color: #ff904f;
  border: none;
  font-size: .14rem;
  color: #fff;
  -webkit-box-shadow: 0 0 3px #d19515;
  box-shadow: 0 0 3px #d19515;
  cursor: pointer;
}
p{
  font-size: .14rem;
  line-height: 1.2;
}
