html,
body {
  width: 100%;
  height: 100%;
}
.container {
  position: relative;
  background-size: 100% 100%;
  height: 100%;
}
.main {
  position: absolute;
  bottom: .4rem;
  left: .15rem;
  right: .15rem;
  margin: auto;
  padding: 0 .5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  font-size: 0;
}
.main h2 {
  display: block;
  font-size: .16rem;
  font-family: "PingFangSC";
  color: #d19515;
  line-height: 1.2;
  font-weight: normal;
}
.main p {
  font-size: .14rem;
  color: #d19515;
  margin-top: .1rem;
}
.main .logo {
  position: absolute;
  bottom: .25rem;
  width: .55rem;
  left: 0;
  right: 0;
  margin: auto;
}
.statu-img {
  width: 1.5rem;
  margin: .15rem 0;
}
.success-page {
  background: url('../img/bg_1.png') no-repeat;
}
.success-page .main {
  top: .4rem;
  background: url("../img/bg_3.png") no-repeat;
  background-size: 100% 100%;
}
.success-page .avat-box {
  font-size: 0;
  text-align: center;
  margin: .07rem 0 0 .02rem;
}
.success-page .avat-box img {
  width: .68rem;
  height: .68rem;
  border-radius: 50%;
  border: 0.06rem solid #fff !important;
}
.failed-page {
  background: url('../img/bg_2.png') no-repeat;
}
.failed-page .main {
  top: 0.5rem;
  padding-top: .3rem;
  background: url("../img/bg_4.png") no-repeat;
  background-size: 100% 100%;
}
.failed-page h2 {
  color: #7fa1cf;
  font-size: .16rem;
}
.failed-page .text {
  font-size: .13rem;
  color: #333333;
  line-height: 1.2;
  padding-bottom: .1rem;
  border-bottom: 1px solid #eee;
}
.failed-page .tips {
  font-size: .12rem;
  color: #999999;
  line-height: 1.2;
}
