.container {
  height: 100%;
  background-color: #f7f7f7;
}
input{
  -webkit-tap-highlight-color:transparent;
  background-color: #fff ;
}
.main {
  text-align: center;
  font-size: 0;
  /* padding-bottom: .45rem; */
  box-sizing: border-box;
}
.main .btn {
  margin-top: .45rem;
}
.tip-img {
  width: 1.65rem;
  margin-top: .8rem;
}
p {
  color: #666666;
}
.form-wrap {
  overflow-y: auto;
  text-align: left;
}
.form-wrap form > div {
  margin-bottom: .08rem;
  font-size: .14rem ;
  background-color: #fff;
}
.form-wrap label {
  display: inline-block;
  color: #333;
  min-width: .62rem;
  vertical-align: middle;
  margin-right: .1rem;
}
.form-wrap .form-item {
  padding: .12rem .09rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #f7f7f7;
}
.form-wrap input[type=text] {
  border: none;
}
.form-wrap .submit-box {
  /* position: fixed; */
  width: 80%;
  margin: .5rem auto 0;
  /* bottom: 0;
  left: 0; */
  /* margin-top: 0; */
}
.form-wrap .submit-box input {
  height: .45rem;
  border: none;
  width: 100%;
  color: #fff;
  background-color: #ff904f;
  border-radius: .2rem;
}
.form-wrap .submit-box input:disabled {
  background-color: #ddd;
}
#schoolInp {
  position: relative;
}
#schoolInp #school-list {
  position: absolute;
  display: none;
  left: .8rem;
  top: .45rem;
  -webkit-box-shadow: 0 0 5px #ddd;
          box-shadow: 0 0 5px #ddd;
  background-color: #fff;
  z-index: 3;
  width: 2.8rem;
}
#schoolInp #school-list li {
  font-size: .14rem;
  color: #666666;
  line-height: 1.2;
  padding: .14rem .16rem;
}
#schoolInp #school-list li + li {
  border-top: 1px solid #eeeeee;
}
#scrollBox {
  display: none;
}
#scrollBox_dummy {
  display: none;
}
/* 选择框的样式 */
.mbsc-ios .mbsc-fr-popup{
   background-color: #fff;
}
.mbsc-ios7 .dwb {
  color: #fbaa77;
  font-size: .14rem;
  
}
.mbsc-ios7 .dwb-s .dwb{
   font-weight: normal;
}
.mbsc-ios7 .dw-li{
   font-size: .14rem;
   text-align: center;
}
.mbsc-ios7 .dwwr{
   background-color: #fff;
}
.mbsc-ios7 .dwbc{
  border:none;
}
.mbsc-ios7 .dwwol{
   border-top:1px solid #ddd;
  border-bottom:1px solid #ddd ;
  color:#333;
}
  .mbsc-ios7 .dwwo {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(255, 255, 255)), color-stop(0.5, rgba(255, 255, 255, 0)), color-stop(1, rgb(255, 255, 255)));
}

.dww {
  background: none;
}
