  .main{
  padding-bottom: .48rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.top {
  background-color: #f3ebd9;
  border: none;
}
.banner {
  font-size: 0;
}
.banner > img {
  width: 100%;
}
.score ul {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: -0.46rem;
  width:100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 .11rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#score-list{
  position: relative;
  height:.6rem;
}
.score li {
  position:  relative;
  width: 1rem;
  height: .95rem;
  background-color: #fff ;
  margin: 0 .1rem;
  font-size: .1rem ;
  color: #ff904f;
  border-radius: 4px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 8px #f0e085;
          box-shadow: 0px 0px 8px #f0e085;
  text-align: center;
}
.score .score-num {
  display: inline-block;
  font-size: .29rem;
  height: .95rem;
  line-height: .95rem;
}
.score .top-score {
  color: #ff6931;
}
.score .tips {
  text-align: center;
  font-size: .14rem;
  color: #333333;
  line-height: 1.2;
  margin-top: .2rem;
}
.score .tips > span {
  color: #ff8b45;
}
.score .tips .num {
  font-size: .2rem;
}
.tag {
  position: absolute;
  top: 0;
  left: .06rem ;
  background-color: #ffd333;
  color: #fff;
  font-size: .1rem;
  width: .18rem;
  text-align: center;
  line-height: 1.2;
}
.tag .traggle {
  display: inline-block;
  position: absolute;
  bottom: -0.1rem;
  right: 0;
  border-top: .05rem solid #ffd333;
  border-right: .09rem solid transparent;
  border-left: .09rem solid transparent;
  border-bottom: .05rem solid transparent;
  z-index: 1;
}
.rules {
  margin-top: .3rem;
  padding: 0 .26rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.rules h2 {
  color: #b7d6f5;
  font-size: 0;
  font-weight: normal;
  text-align: center;
}
.rules h2 > div {
  display: inline-block;
  font-size: .14rem;
  vertical-align: middle;
}
.rules h2 .text {
  width: 40%;
}
.rules h2 .border {
  height: 1px;
  background-color: #eee;
  width: 30%;
}
.rules h2 img {
  width: .14rem ;
  vertical-align: bottom;
}
.rules-text {
  font-size: .12rem;
  color: #666666;
  line-height: 1.5;
  margin-top: .2rem;
}
.rules-text li {
  position: relative;
  margin: .1rem 0;
  padding-left: .11rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.rules-text li::before {
  display: inline-block;
  position: absolute;
  left: 0;
  top: .08rem;
  content: " ";
  width: .05rem;
  height: .05rem;
  border-radius: 50%;
  margin-right: .06rem;
  background-color: #b7d6f5;
}
.test-btn {
  width: 80%;
  margin: 0 auto;
  /* left: 0;
  bottom: 0; */
  font-size: 0;
}
.test-btn > input {
  width: 100%;
  height: .45rem;
  border: none;
  color: #fff;
  font-size: .14rem;
  text-align: center;
  background-color: #ff904f;
  border-radius: .2rem;
}
.test-btn > input :disabled {
  background-color: #ddd;
}
