.banner {
  font-size: 0;
}
.banner img {
  width: 100%;
}
.result {
  padding: .1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.result p {
  color: #666666;
  line-height: 1.5;
  padding: .25rem .3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}
.test-statu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 .1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: .04rem;
}
.test-statu > div {
  font-size: .14rem;
  color: #234e79;
  line-height: 1.2;
  border-radius: 5px;
  padding: .15rem .1rem;
  width: 1.56rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.test-statu > div:first-child {
  background-color: #cae2fe;
}
.test-statu > div:last-child {
  background-color: #ccf3d6;
}
.test-statu span {
  display: block;
  line-height: 1.5;
}
.test-statu .inline-b {
  display: inline-block;
  vertical-align: middle;
  width: .74rem;
}
.test-statu .statu-icon {
  width: .54rem;
  vertical-align: middle;
}
.other-list {
  font-size: .14rem;
  line-height: 1.2;
  color: #999999;
  margin-top: .15rem ;
  border-bottom: 1px solid #eeeeee;
}
.other-list li {
  border-top: 1px solid #eeeeee;
}
.other-list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #999999;
  height: .81rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 .1rem;
}
.other-list a > div {
  width: .45rem;
  text-align: center;
}
.other-list a > div img {
  width: .25rem;
  vertical-align: middle;
}
.other-list a .flex1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
          color:#666;
}
.other-list a > span:last-child {
  width: .45rem;
  text-align: center;
}
.other-list .icon-back{
  display: inline-block;
  transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  -o-transform:rotate(180deg);
}
/* 弹框的样式 */
.pop {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
}
.pop .bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.pop-main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 2.98rem;
  height: 3.5rem;
  border-radius: 5px;
  font-size: 0;
  background-color: #fff;
  overflow: hidden;
}
.pop-main .close-pop {
  position: absolute;
  padding: .1rem;
  cursor: pointer;
  top: 0;
  right: 0;
  color: #ff904f;
  font-size: .16rem;
}
.pop-main .img-wrap {
  width: 100%;
  background-color: #faf1db;
}
.pop-main .img-wrap > img {
  width: 100%;
}
.pop-main .tips {
  padding: 0 .2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.pop-main h3 {
  color: #ff904f;
  font-size: .15rem;
  font-weight: normal;
  line-height: 1.5;
  margin: .12rem 0 .1rem;
  text-align: center;
}
.pop-main p {
  color: #666666;
}
.pop-main .next-btn {
  position: absolute;
  width: 1.93rem ;
  height: .32rem;
  background-color: #ff904f;
  -webkit-box-shadow: 0px 0px 8px #ff904f;
          box-shadow: 0px 0px 8px #ff904f;
  border-radius: 20px;
  border: none;
  bottom: .16rem;
  left: .51rem;
  color: #fff ;
  font-size: .14rem;
}
