@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?50sq7a');
  src:  url('fonts/icomoon.eot?50sq7a#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?50sq7a') format('truetype'),
    url('fonts/icomoon.woff?50sq7a') format('woff'),
    url('fonts/icomoon.svg?50sq7a#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
  content: "\e900";
}
.icon-close:before {
  content: "\e901";
}
